@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);

body {
	max-width: 960px;
	font-family: 'Ubuntu', 'Maven Pro', 'Verdana', sans-serif;
	font-size: 14px;
	/*background-color: #272A2F;*/
	background-color: #000000;
	color: #EFEFEF;
	line-height: 1.4;
	margin-top: 40px;
	margin-left: 160px;
	margin-right: auto;
}


code {
	font-family: 'Ubuntu Mono';
}

.materijali {
	margin-left: 40px;
}

.materijali th {
	background-color: #36393F;
	font-weight: bold;
	border-width: 0px;
	text-align: left;
	vertical-align: center;
	padding: 2px 16px 2px 16px;
	height: 48px;
}

.materijali td {
	background-color: #2F3136;
	border-width: 0px;
	vertical-align: center;
	padding: 2px 16px 2px 16px;
}


p {
	margin-left: 40px;
}


a {
	color: #00B0F4;
}

.logo {
	position: fixed;
	transform: translate(-128px);
}